.Column {
  background-color: #020203;
  width: 8%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  img {
    margin-top: 80%;
    width: 55%;
  }
  span {
    font-size: 10px;
    width: 70%;
    color: white;
    transform: rotate(270deg);
  }
}
