.Navigation {
  margin-right: 4%;
  display: flex;
  justify-content: space-between;
  width: 70%;
  .nav-link {
    text-decoration: none;
    color: white;
    font-size: 22px;
  }
  .activated {
    color: red;
  }
}
