.Navigation {
  margin-right: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
}

.Navigation .nav-link {
  text-decoration: none;
  color: white;
  font-size: 22px;
}

.Navigation .activated {
  color: red;
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0 auto;
}

.Header {
  background-color: #020203;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1%;
}

.Logo img {
  height: 45px;
}

.Column {
  background-color: #020203;
  width: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
}

.Column img {
  margin-top: 50%;
  width: 70%;
}

.Column span {
  font-size: 10px;
  width: 70%;
  color: white;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.Inconstruction {
  position: absolute;
  right: 50%;
  top: 50%;
}

.custom-tooltip {
  background-color: #e60000;
  color: white;
  font-size: 12px;
  width: 100%;
  text-align: center;
  font-weight: 100;
  padding: 4px;
}

.Barchart {
  background-color: #fbfbfb;
  width: 70%;
  padding-top: 1%;
  padding-left: 2%;
}

.legendContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5%;
}

.legendContainer .legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 45%;
}

.legendContainer .legend span {
  font-size: 12px;
}

.legendContainer .legend i {
  font-size: 10px;
  margin-right: 3%;
}

.legendContainer .legend .weight {
  width: 50%;
}

.legendContainer .legend .weight i {
  color: #282d30;
}

.legendContainer .legend .calories {
  width: 50%;
}

.legendContainer .legend .calories i {
  color: #e60000;
}

.Linechart {
  background-color: #ff0000;
  width: 30%;
  border-radius: 5px;
  height: 250px;
  position: relative;
  padding-top: 1%;
}

.Linechart h2 {
  color: white;
  opacity: 0.5;
  font-size: 15px;
  width: 50%;
  margin-left: 7%;
}

.Linechart .recharts-responsive-container {
  position: absolute;
  top: 0%;
  bottom: 0%;
  border-radius: 5px;
  z-index: 30;
  height: 100%;
}

.Linechart .custom-tooltip {
  background-color: white;
  color: black;
}

.formatXAxis {
  position: absolute;
  bottom: 1%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.formatXAxis span {
  color: #ffffff;
  opacity: 0.5;
}

.Radarchart {
  height: 300px;
  background-color: #282d30;
  width: 50%;
  border-radius: 5px;
}

.Radialbarchart {
  width: 300px;
  height: 300px;
  background-color: #fbfbfb;
}

.Cardinfos {
  background-color: #fbfbfb;
  width: 15%;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  border-radius: 5px;
  margin-bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Cardinfos .fa-fire-alt,
.Cardinfos .fa-drumstick-bite,
.Cardinfos .fa-apple-alt,
.Cardinfos .fa-hamburger {
  border-radius: 6px;
  width: 65px;
  height: 50px;
  font-size: 35px;
  text-align: center;
  padding-top: 15px;
}

.Cardinfos .fa-fire-alt {
  background-color: rgba(255, 0, 0, 0.07);
  color: red;
}

.Cardinfos .fa-drumstick-bite {
  background-color: #4ab8ff1a;
  color: #4ab8ff;
}

.Cardinfos .fa-apple-alt {
  background-color: #fdcd0c27;
  color: #fdcc0c;
}

.Cardinfos .fa-hamburger {
  background-color: #fd51811a;
  color: #fd5181;
}

.Cardinfos .score {
  font-weight: bold;
  color: #282d30;
}

.Cardinfos .types {
  color: #74798c;
}

.Cardinfos div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=index.css.map */