.User {
  position: relative;
  p {
    margin-left: 12%;
  }
  .chartsContainer {
    margin-left: 12%;
    position: relative;
  }
  .name {
    font-size: 35px;
    margin-bottom: 2%;
    span {
      color: red;
    }
  }
  .congrats {
    font-size: 18px;
    margin-top: 0;
  }
  .cardsContainer {
    position: absolute;
    top: 0;
    right: 7%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .bottomContainer {
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 230px;
    margin-top: 7%;
  }
}
